body{
    background-color: rgb(228, 228, 228);
}
.container{
display: flex;
justify-content: center;
align-items: center;
padding: 2rem;
flex-direction: column;
}

.image {
    width: 15rem;
  }

@media only screen and (max-width: 990px) {
  
    .image {
      width: 80%;
      height: auto;
    }
  }